@font-face {
  font-family: 'DIN';
  font-weight: 200;
  src: url("../font/dinl____.eot");
  src: url("../font/dinl____.eot") format('embedded-opentype'), url("../font/dinl____.woff") format('woff'), url("../font/dinl____.ttf") format('truetype'), url("../font/dinl____.svg#DINLightRegular") format('svg');
}
@font-face {
  font-family: 'DIN';
  font-weight: 400;
  src: url("../font/dinm____.eot");
  src: url("../font/dinm____.eot") format('embedded-opentype'), url("../font/dinm____.woff") format('woff'), url("../font/dinm____.ttf") format('truetype'), url("../font/dinm____.svg#DINMediumRegular") format('svg');
}
@font-face {
  font-family: 'Clarendon';
  src: url("../font/clarendonltstd-webfont.eot");
  src: url("../font/clarendonltstd-webfont.eot?#iefix") format('embedded-opentype'), url("../font/clarendonltstd-webfont.woff") format('woff'), url("../font/clarendonltstd-webfont.ttf") format('truetype'), url("../font/clarendonltstd-webfont.svg#clarendon_lt_stdregular") format('svg');
  font-weight: normal;
  font-style: normal;
}
.push-1 {
  left: 8.333333333333332%;
}
.pull-1 {
  right: 8.333333333333332%;
}
.span-1 {
  position: relative;
  width: 8.333333333333332%;
}
.align-corners > .span-1 + [class*="span-"] {
  margin-left: 8.333333333333332%;
}
.push-2 {
  left: 16.666666666666664%;
}
.pull-2 {
  right: 16.666666666666664%;
}
.span-2 {
  position: relative;
  width: 16.666666666666664%;
}
.align-corners > .span-2 + [class*="span-"] {
  margin-left: 16.666666666666664%;
}
.push-3 {
  left: 25%;
}
.pull-3 {
  right: 25%;
}
.span-3 {
  position: relative;
  width: 25%;
}
.align-corners > .span-3 + [class*="span-"] {
  margin-left: 25%;
}
.push-4 {
  left: 33.33333333333333%;
}
.pull-4 {
  right: 33.33333333333333%;
}
.span-4 {
  position: relative;
  width: 33.33333333333333%;
}
.align-corners > .span-4 + [class*="span-"] {
  margin-left: 33.33333333333333%;
}
.push-5 {
  left: 41.66666666666667%;
}
.pull-5 {
  right: 41.66666666666667%;
}
.span-5 {
  position: relative;
  width: 41.66666666666667%;
}
.align-corners > .span-5 + [class*="span-"] {
  margin-left: 41.66666666666667%;
}
.push-6 {
  left: 50%;
}
.pull-6 {
  right: 50%;
}
.span-6 {
  position: relative;
  width: 50%;
}
.align-corners > .span-6 + [class*="span-"] {
  margin-left: 50%;
}
.push-7 {
  left: 58.333333333333336%;
}
.pull-7 {
  right: 58.333333333333336%;
}
.span-7 {
  position: relative;
  width: 58.333333333333336%;
}
.align-corners > .span-7 + [class*="span-"] {
  margin-left: 58.333333333333336%;
}
.push-8 {
  left: 66.66666666666666%;
}
.pull-8 {
  right: 66.66666666666666%;
}
.span-8 {
  position: relative;
  width: 66.66666666666666%;
}
.align-corners > .span-8 + [class*="span-"] {
  margin-left: 66.66666666666666%;
}
.push-9 {
  left: 75%;
}
.pull-9 {
  right: 75%;
}
.span-9 {
  position: relative;
  width: 75%;
}
.align-corners > .span-9 + [class*="span-"] {
  margin-left: 75%;
}
.push-10 {
  left: 83.33333333333334%;
}
.pull-10 {
  right: 83.33333333333334%;
}
.span-10 {
  position: relative;
  width: 83.33333333333334%;
}
.align-corners > .span-10 + [class*="span-"] {
  margin-left: 83.33333333333334%;
}
.push-11 {
  left: 91.66666666666666%;
}
.pull-11 {
  right: 91.66666666666666%;
}
.span-11 {
  position: relative;
  width: 91.66666666666666%;
}
.align-corners > .span-11 + [class*="span-"] {
  margin-left: 91.66666666666666%;
}
.push-12 {
  left: 100%;
}
.pull-12 {
  right: 100%;
}
.span-12 {
  position: relative;
  width: 100%;
}
.align-corners > .span-12 + [class*="span-"] {
  margin-left: 100%;
}
.align-top {
  vertical-align: top;
}
.typ-small {
  font-size: 0.76rem;
}
.typ-base {
  font-size: 1rem;
}
.typ-medium {
  font-size: 1.2rem;
}
.typ-large {
  font-size: 1.5rem;
}
.typ-larger,
.info-list li p {
  font-size: 1.8rem;
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-family: inherit;
  font-size: 100%;
  vertical-align: baseline;
}
body {
  line-height: 1;
  color: #000;
  background: #fff;
}
ol,
ul {
  list-style: none;
}
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}
caption,
th,
td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}
a img {
  border: none;
}
html {
  font-size: 16px;
}
body {
  padding-top: 20px;
  font-family: 'DIN';
  font-weight: 200;
  line-height: 1.3;
  -webkit-font-smoothing: antialiased;
}
p {
  margin: 1rem 0;
}
img {
  display: inline-block;
  width: 100%;
}
em {
  font-weight: 400;
}
a {
  text-decoration: none;
  color: inherit;
}
h4 {
  font-size: 1.5rem;
  text-transform: uppercase;
}
h5 {
  font-weight: 400;
  margin-top: 1rem;
  margin-bottom: 0;
  font-size: 1.5rem;
}
h6 {
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: 400;
}
hr {
  width: 100px;
  background: rgba(33,34,35,0.1);
  height: 1px;
  border: 0px;
  outline: 0px;
  text-align: left;
  margin: 1rem 0px;
}
.typ-right {
  text-align: right;
}
.background {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: url("../img/bruno-blueprint-101.jpg") center center no-repeat;
  -webkit-filter: contrast(140%);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  z-index: -1;
}
.background::before,
.background::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 10;
}
.background::before {
  background: rgba(33,34,35,0.7);
}
.background::after {
  background: rgba(28,155,230,0.4);
  z-index: 9;
}
.button {
  text-transform: uppercase;
  background: rgba(0,0,0,0.2);
  color: #fff;
  padding: 8px 18px;
  display: inline-block;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  -ms-transition: all 0.2s;
  transition: all 0.2s;
}
.button:hover {
  background: rgba(0,0,0,0.5);
}
.button.large {
  padding: 0.75rem 1.68rem;
  font-size: 1.5rem;
  -webkit-border-radius: 28px;
  border-radius: 28px;
}
.action_link {
  text-transform: uppercase;
  border-bottom: 1px solid rgba(255,255,255,0.3);
}
.action_link:hover {
  border-bottom-color: #fff;
}
.section {
  clear: both;
  max-width: 1280px;
  margin: 3.125rem 0 6.25rem 0;
  margin-right: 3.125rem;
}
.section.space-above {
  margin-top: 9rem;
}
.row [class*="span-"] {
  display: inline-block;
}
.list,
.schedule {
  font-size: 1.8rem;
}
.list .row .box,
.schedule .row .box {
  padding: 10px 20px;
}
.box {
  padding: 1.25rem;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  color: #fff;
}
.box.title {
  text-align: right;
}
.box.left {
  padding-left: 2.8125rem;
}
.box.blue {
  background: rgba(28,155,230,0.9);
  color: #fff;
}
.box.slate {
  background: #212223;
  color: #fff;
}
.box.slate a {
  color: #60b9ee;
  border-bottom: 1px solid rgba(28,155,230,0.2);
}
.box.slate a:hover {
  border-bottom-color: #1c9be6;
}
.box.white {
  background: #fff;
  color: #212223;
}
.box.white a {
  color: #1c9be6;
  border-bottom: 1px solid rgba(28,155,230,0.2);
}
.box.copy {
  padding-left: 2.5rem;
  padding-right: 2.5rem;
}
.info-list {
  padding-left: 2.5rem;
  margin-bottom: -1.875rem;
  margin-top: -2.5rem;
  padding-top: 1.875rem;
  color: #fff;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.info-list li {
  display: inline-block;
  width: auto;
  margin-right: 50px;
  margin-bottom: 1.875rem;
}
.info-list li p {
  margin: 0;
}
.pilot-logo {
  background: url("../img/arc_white.svg") center center no-repeat;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  background-size: contain;
  display: block;
  width: 140px;
  height: 96px;
  text-indent: -400px;
  margin-top: 20px;
}
.header nav {
  padding-top: 0;
}
.header nav a {
  display: inline-block;
  vertical-align: top;
  font-size: 1.2rem;
  text-transform: uppercase;
  border-right: 1px solid rgba(28,155,230,0.4);
  padding-top: 1.5em;
  padding-left: 1em;
  padding-right: 1em;
  -webkit-transition: background 0.3s, padding 0.3s;
  -moz-transition: background 0.3s, padding 0.3s;
  -o-transition: background 0.3s, padding 0.3s;
  -ms-transition: background 0.3s, padding 0.3s;
  transition: background 0.3s, padding 0.3s;
}
.header nav a:hover {
  background: rgba(28,155,230,0.3);
  padding-bottom: 0.7142857142857143em;
  padding-top: 0.7894736842105263em;
}
.header nav a:active {
  background: rgba(28,155,230,0.9);
  padding-bottom: 0.7142857142857143em;
  padding-top: 0.7894736842105263em;
  -webkit-transition: background 0.1s;
  -moz-transition: background 0.1s;
  -o-transition: background 0.1s;
  -ms-transition: background 0.1s;
  transition: background 0.1s;
}
.header nav a:last-child {
  border-right: none;
}
/* Section specific styles/map sections to types above */
.faq h5 + p {
  margin-top: 0.5rem;
}
.header a.button {
  margin: 10px 0;
}
.sponsors .sponsors-row {
  margin-bottom: 1%;
}
.sponsors .sponsors-row:last-child {
  margin-bottom: 0;
}
.sponsors .sponsors-row >div {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 3%;
  display: inline-block;
  text-align: center;
}
.sponsors .sponsors-row >div a {
  border-bottom: none;
}
.sponsors .sponsors-row >div img {
  width: 90%;
  height: auto;
}
@media (max-width: 900px) {
  html {
    font-size: 14px;
  }
  .section {
    margin-right: 1rem;
  }
  .span-1 {
    position: relative;
    width: 8.333333333333332%;
  }
  .align-corners > .span-1 + [class*="span-"] {
    margin-left: 8.333333333333332%;
  }
  .align-corners > .span-1 + [class*="span-"].mobile-full {
    width: 100%;
    margin-left: 0;
  }
  .span-1.mobile-full {
    width: 100%;
    margin-left: 0;
  }
  .span-2 {
    position: relative;
    width: 16.666666666666664%;
  }
  .align-corners > .span-2 + [class*="span-"] {
    margin-left: 16.666666666666664%;
  }
  .align-corners > .span-2 + [class*="span-"].mobile-full {
    width: 100%;
    margin-left: 0;
  }
  .span-2.mobile-full {
    width: 100%;
    margin-left: 0;
  }
  .span-3 {
    position: relative;
    width: 25%;
  }
  .align-corners > .span-3 + [class*="span-"] {
    margin-left: 25%;
  }
  .align-corners > .span-3 + [class*="span-"].mobile-full {
    width: 100%;
    margin-left: 0;
  }
  .span-3.mobile-full {
    width: 100%;
    margin-left: 0;
  }
  .span-4 {
    position: relative;
    width: 33.33333333333333%;
  }
  .align-corners > .span-4 + [class*="span-"] {
    margin-left: 33.33333333333333%;
  }
  .align-corners > .span-4 + [class*="span-"].mobile-full {
    width: 100%;
    margin-left: 0;
  }
  .span-4.mobile-full {
    width: 100%;
    margin-left: 0;
  }
  .span-5 {
    position: relative;
    width: 41.66666666666667%;
  }
  .align-corners > .span-5 + [class*="span-"] {
    margin-left: 41.66666666666667%;
  }
  .align-corners > .span-5 + [class*="span-"].mobile-full {
    width: 100%;
    margin-left: 0;
  }
  .span-5.mobile-full {
    width: 100%;
    margin-left: 0;
  }
  .span-6 {
    position: relative;
    width: 50%;
  }
  .align-corners > .span-6 + [class*="span-"] {
    margin-left: 50%;
  }
  .align-corners > .span-6 + [class*="span-"].mobile-full {
    width: 100%;
    margin-left: 0;
  }
  .span-6.mobile-full {
    width: 100%;
    margin-left: 0;
  }
  .span-7 {
    position: relative;
    width: 58.333333333333336%;
  }
  .align-corners > .span-7 + [class*="span-"] {
    margin-left: 58.333333333333336%;
  }
  .align-corners > .span-7 + [class*="span-"].mobile-full {
    width: 100%;
    margin-left: 0;
  }
  .span-7.mobile-full {
    width: 100%;
    margin-left: 0;
  }
  .span-8 {
    position: relative;
    width: 66.66666666666666%;
  }
  .align-corners > .span-8 + [class*="span-"] {
    margin-left: 66.66666666666666%;
  }
  .align-corners > .span-8 + [class*="span-"].mobile-full {
    width: 100%;
    margin-left: 0;
  }
  .span-8.mobile-full {
    width: 100%;
    margin-left: 0;
  }
  .span-9 {
    position: relative;
    width: 75%;
  }
  .align-corners > .span-9 + [class*="span-"] {
    margin-left: 75%;
  }
  .align-corners > .span-9 + [class*="span-"].mobile-full {
    width: 100%;
    margin-left: 0;
  }
  .span-9.mobile-full {
    width: 100%;
    margin-left: 0;
  }
  .span-10 {
    position: relative;
    width: 83.33333333333334%;
  }
  .align-corners > .span-10 + [class*="span-"] {
    margin-left: 83.33333333333334%;
  }
  .align-corners > .span-10 + [class*="span-"].mobile-full {
    width: 100%;
    margin-left: 0;
  }
  .span-10.mobile-full {
    width: 100%;
    margin-left: 0;
  }
  .span-11 {
    position: relative;
    width: 91.66666666666666%;
  }
  .align-corners > .span-11 + [class*="span-"] {
    margin-left: 91.66666666666666%;
  }
  .align-corners > .span-11 + [class*="span-"].mobile-full {
    width: 100%;
    margin-left: 0;
  }
  .span-11.mobile-full {
    width: 100%;
    margin-left: 0;
  }
  .span-12 {
    position: relative;
    width: 100%;
  }
  .align-corners > .span-12 + [class*="span-"] {
    margin-left: 100%;
  }
  .align-corners > .span-12 + [class*="span-"].mobile-full {
    width: 100%;
    margin-left: 0;
  }
  .span-12.mobile-full {
    width: 100%;
    margin-left: 0;
  }
  .box.title {
    width: 100%;
    text-align: left;
  }
  .mobile-1 {
    position: relative;
    width: 8.333333333333332% !important;
  }
  .mobile-2 {
    position: relative;
    width: 16.666666666666664% !important;
  }
  .mobile-3 {
    position: relative;
    width: 25% !important;
  }
  .mobile-4 {
    position: relative;
    width: 33.33333333333333% !important;
  }
  .mobile-5 {
    position: relative;
    width: 41.66666666666667% !important;
  }
  .mobile-6 {
    position: relative;
    width: 50% !important;
  }
  .mobile-7 {
    position: relative;
    width: 58.333333333333336% !important;
  }
  .mobile-8 {
    position: relative;
    width: 66.66666666666666% !important;
  }
  .mobile-9 {
    position: relative;
    width: 75% !important;
  }
  .mobile-10 {
    position: relative;
    width: 83.33333333333334% !important;
  }
  .mobile-11 {
    position: relative;
    width: 91.66666666666666% !important;
  }
  .mobile-12 {
    position: relative;
    width: 100% !important;
  }
}
